body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow:hidden;
}

body {
  background-image: url("../assets/bg-image.jpg");
  filter: blur(20 px);
  -webkit-filter: blur(8 px);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo-div{
  width:25%;
  height:25%;
  margin-top:0.3rem;
}
#logo{
  width:50%;
  height:80%;
}

.buttons{
margin: 7% 40%;
}
.buttons button{
  
	height: 20%;
	width: 17rem;
	font-size: 1.5rem;
	font-weight: 550;
	color: #eedcdc;
	background: rgb(219, 69, 82);
	outline: none;
	cursor: pointer;
	border: 1px solid #cc0000;
	border-radius: 25px;
	transition: .4s;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.content {
  text-align: center;
  z-index: 1;
  margin-top: 0;
  
}

.textbox {
  width: 50%;
  height:40px;
  padding: 5px;
  background-color: #e4e492;
  margin: auto;
  font-size: x-large;
  color: black !important;
  padding-bottom: 1px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.animate {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #31cd7f 0%,
    #5749cf 29%,
    #d422ab 67%,
    #ded416 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

#footer {
  position: absolute;
  bottom: 0.4rem;
  color: red;
  background-color: white;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.footer2 {
  padding: 0;
  margin: 0;
}

