body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: url('bg-image2.jpg');
    background-size: cover;
    background-position: center; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
    z-index:1;
    margin-top:5rem;
    animation: haha 2.5s ease-in-out 1.2s infinite;
}
@keyframes haha{
    from{
      font-size:0.8rem;
    }
    to{
      font-size:1.8rem;
    }
  }

.animate{
    text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #84b49c 0%,
       #c3728d 29%,
       #c2c277 67%,
       #b8837d 100%
     );
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     color: #fff;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: inline-block;
     font-size: 100px;
     text-align: center;
     margin:auto;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   @keyframes textclip {
    
     to {
       background-position: 100% center;
     }
    }
    .tagline{
        color:white;
    }


#footer{
    position:absolute;
    bottom:0.4rem;
    color:red;
    background-color:white;
    width:100vw;
    padding:0;
    display:flex;
    justify-content:space-evenly;
}
.footer2{
    padding:0;
    margin:0;
}