body {
	background-color: #D4F1F4;
    margin: 0px;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.panel {
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
}

.question {
	font-size: 30px;
	margin-bottom: 20px;
}

.options {
	font-size: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: fixed;
	top: 40%;
	left: 40%;
}



img{
    cursor: pointer;
}
#buttons
{
    display: flex;
    width: 50%;
    
}

#nav{
    background-color: rgb(0, 81, 181);
    padding: 0px;
    margin: 0px;
    height: 10%;
    border-bottom-right-radius:  5px;
}

#logo
{
    padding: 0.5%;
}
#ans-image
{
    display: flex;
    flex-direction: row;
}
#image
{
    width: 40%;
    padding: 1%;
}

#ans
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#opt1,#opt2,#opt3,#opt4
{
    width: 80%;
    height: 15%;
    background-color: rgb(0, 81, 181);
    margin: 1%;
    border-radius : 10px;
    text-align: center;
    cursor: pointer;
}

#answers
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}
#mascot_pose_2
{
    height: 35rem;
    
    padding-left: 7%;
}
#text
{
    margin: 5%;
    color: white;
}
#right_wrong
{
 height: 10%;
 font-size: 5rem;
 text-align: center;
}


/* animation */

#arrow-l {
    position:absolute;
    margin-top: 5%;
    right: 50%;
    
    
    transform: rotate(90deg);
    cursor: pointer;
}

#arrow-l span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

#arrow-l span:nth-child(2) {
    animation-delay: -0.2s;
}

#arrow-l span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
#arrow-r {
    position: absolute;
   margin-top: 5%;
    left: 80%;
    
    transform: translate(+500%,0);
    transform: rotate(270deg);
    cursor: pointer;
}

#arrow-r span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-right: 5px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

#arrow-r span:nth-child(2) {
    animation-delay: -0.2s;
}

#arrow-r span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* Animations for buttons */
#button {
	margin: auto;
    margin-top: 10%;
	border-radius: 20px;
	background-color: #667292;
	box-shadow: 10px 15px 40px #36486b;
	font-size: 30px;
    height: 100%;
    width: 50%;
	
	
	font-family: cambria;
	color: #bccad6;
	border: none;
}

#button:hover {
	border: none;
	background-color: #8d9db6;
	opacity: 1;
	color: #36486b;
}



#button:hover {
	transition: 0.5s ease-in-out;
	background: #8d9db6;
}

#button {
	--color1: #36486b;
	--color2: #bccad6;
	font-family: cambria;
	text-align: center;
	
	background: repeating-linear-gradient(
		45deg,
		var(--color1),
		var(--color1) 30px,
		var(--color2) 30px,
		var(--color2) 60px
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	animation: 40s linear 0s infinite move;
}

@keyframes move {
	from {
		background-position: 0px;
	}

	to {
		background-position: 1000px;
	}
}

#opt1,#opt2,#opt3,#opt4{
    box-shadow: 10px 10px 5px grey;
    color: black;
  }
  #opt1:hover,#opt2:hover,#opt3:hover,#opt4:hover
  {
background-color: white;
  }
  #opt1:focus,#opt2:focus,#opt3:focus,#opt4:focus
  {
    border: 4px solid rgb(255, 255, 255);
  }